//- footer
div(class="page-footer bg-dark inline footer")
    p(class="text-white") © 2020 by Albert Kreuzer 
        |
        span - Follow me on 
            |
            a(href="https://github.com/breggae99" target="_blank") GitHub 
              |
              i(class="fab fa-github") 